{% extends "base.html" %}
{% block title %}{{ title  }}{% endblock %}
{% block content %}
<br/>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content" style="padding-bottom: 0px">
        <span class="card-title">Add Your Result Here</span>
        <span style="color:green">{{success}}</span>
        <div class="row">
        <form action="" method="post" class="col s10 offset-s1">
         {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              {{ form.url }}
              <label for="url" data-error="Please enter a valid URL">URL</label>
              <span for="url" style="color: red">{{ form.url.errors }}</span>
            </div>
          </div>
          <button class="waves-effect waves-blue btn center">ADD</button><br>
          <span style="color:red">{{error}}</span>
        </form>
        </div>
        <div style="padding:10px;">
        <ul>
        <li><b>NOTE</b></li>
        <li>Go to <a target="_blank" href="https://erp.aktu.ac.in/WebPages/OneView/OneView.aspx">AKTU One View Result</a></li>
        <li>Open Your result and copy the URL of your result</li>
        <li>Paste the URL copied from AKTU oneview result to URL field in the above form</li>
        <li>Then click on add button. This proccess may tak time.
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  {% block js %}
    <script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
  $('select').material_select('destroy');
</script>
{%endblock %}
{% endblock %}