<div  class="row">
	<div class="col s12">
		<table>
			<tbody>
				<tr>
					<th>Roll No.</th>
					<td>{{ student.rollNo }}</td>
					<th>Name</th>
					<td>{{ student.name }}</td>
				</tr>
				<tr>
					<th>Branch</th>
					<td>{{ student.branchCode.branchName|truncatewords:3 }}</td>
					<th>Sem</th>
					<td>{{ marks.0.subjectCode.semester }}</td>
				</tr>
				<tr>
				<th>College</th>
					<td colspan="3">{{ student.college.collegeName|truncatewords:5 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div  class="row">
	<div class="col s12">
		<table  id="resultTable">
			<thead>
				<th>No.</th>
				<th>Subject Code</th>
				<th> Subject Name</th>
				<th>Internal</th>
				<th>Extenal</th>
			</thead>
			<tbody>
				{% for mark in marks %}
				<tr>
					<th>{{ forloop.counter }}. </th>
					<td>{{ mark.subjectCode }}</td>
					<td>{{ mark.subjectCode.subjectName|truncatechars:36 }}</td>
					<td>
					{% if mark.internal == -1 %}
						N/A
					{% else %}
						{{ mark.internal }}
					{% endif %}
					</td>
					<td class="b{{mark.backStatus}}">
					{% if mark.external == -1 %}
							N/A
						{% else %}
							{{ mark.external }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

